<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" type="text/css" href="css/homepageStyle.css">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
 <header>
 	<div class="main">
 		
 	</div>
 	<div class="title">
 		<h1>Enter Edgistfy</h1>
 	</div>
 	<div class="button">
 		<a href="login" class="btn text-light" style="background-color: #000">LOGIN</a>
 		<a href="signUp" class="btn text-light" style="background-color: #000">SIGNUP</a>
 	</div>
 </header>
</body>
</html>