<html>
<head>
<title>Login page</title>
    <link rel="stylesheet" type="text/css" href="css/loginStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="loginbox">
        <img src="img/avatar.png" class="avatar">
        <h1>Login Page</h1>
        <form>
            <p>Email</p>
            <input id="email" type="text" name="" placeholder="Enter Email" required>
            <p>Password</p>
            <input id="password" type="password" name="" placeholder="Enter Password" required>
            <input type="button" value="Login" class="btn-primary" onclick="myFunction()">
            <a href="signUp" style="font-size: 1.2rem" class="text-light">Don't have an account?/Click to Signup.</a>
        </form>
    </div>
    <script type="text/javascript" src="js/loginScript.js"></script>    
</body>
</html>