<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/homepageStyle.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<style>
@media screen and (max-width:400px) {
    
}
</style>
<body class="body">
  <nav class="navbar navbar-expand-sm bg-light row col-sm-12 fixed-top bg-info" style="height: 10%;">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav col-sm-10">
        <li class="nav-item col-sm-4">
            <a class="btn btn-dark" class="btn text-light" style="font-size:1.5rem; background-color:rgb(12, 66, 241)" href="/home">Home</a>
        </li>
         <li class="nav-item col-sm-4">
        <a class="btn btn-dark" href="https://www.linkedin.com/in/aniket-kumar-rai/" target="_blank" style="font-size:1.5rem;background-color:rgb(12, 66, 241)" class="btn text-light">See Linkedin Profile</a>
      </li>
      <li class="nav-item col-sm-4">
        <a class="btn btn-dark" href="https://www.linkedin.com/in/aniket-kumar-rai/" target="_blank" style="font-size:1.5rem;background-color:rgb(12, 66, 241)" class="btn text-light">See Github Code</a>
      </li>
        <li class="nav-item" style="">
            <a class="btn btn-danger text-light" style="font-size:1.5rem" href="#">Logout</a>
        </li>
        </ul>
    </div>
  </nav>
    <center>
    <form style="width: 50%;margin-top:10%">
        <div class="form-group">
            <textarea type="text" rows="10" class="form-control" id="description" placeholder="Description"></textarea>
        </div>
        <a href="home"><button type="submit" class="btn btn-primary" onclick="getDescription()" style="width: 100%;margin-top:1%">Submit</button></a>
    </form>
    </center>
    <script type="text/javascript" src="js/post.js"></script> 
</body>
</html>