<!DOCTYPE html>
<html>
<head>
	<title>SignUp</title>
	<link rel="stylesheet" type="text/css" href="css/signupStyle.css">	
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
	<div class="sign-up-form">
	<img src="img/avatar.png" class="avatar">
	<h1>SignUp Page</h1>
	<form style="">
		<p style="font-weight: bold;">Name</p>
		<input type="text" class="input-box" placeholder="Enter Name" id="name">
		<p style="font-weight: bold;">Email</p>
		<input type="email" class="input-box" placeholder="Enter Email" id="email">
		<p style="font-weight: bold;">Password</p>
		<input type="password" class="input-box" placeholder="Enter Password" id="password">
		<p style="font-weight: bold;">Age</p>
		<input type="text" class="input-box" placeholder="Your Age" id="age">
		<input type="button" id="signupButton" class="signup-btn btn-primary" value="SignUp" style="font-size: 1.4rem" onclick="myFunction()">
		<p style="color: #fff; font-size:1.5rem">Already have an account ?<a href="login"> SignIn</a></p>
	</form>
		
	</div>
	<script type="text/javascript" src="js/signupScript.js"></script>
</body>
</html>