*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
.body{
	background-image:url(../img/a1.jpeg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
header{
	background-image:url(../img/background1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: black;
	font-size: 70px;
}
.button{
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn{
	border:1px solid black;
	padding:10px 30px;
	color: black;
	text-decoration: none;
	transition: 0.6s ease;
	border-radius: 20px;
	/*background-color: #fb2525;
	color: #fff;
	width: 100%;
	padding:10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border:none;
	outline: none;*/
}
.btn:hover{
	background-color:black;
	color: white;
}