body{
	margin:0;
	padding: 0;
	font-family: Century Gothic;
	background-image:url(../img/a.jpg);
	background-size:cover;
	background-position: center; 
}
.sign-up-form{
	width: 500px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background:rgb(58, 1, 1);
	padding: 20px;
	margin: auto;
	margin-top: 4%;
}
.sign-up-form h1{
	color: #fff;
	margin-bottom: 30px;
}
.input-box{
	width:100%;
    margin-bottom: 20px;  
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.signup-btn{
	/* background-color: #fb2525; */
	color: #fff;
	width: 100%;
	padding:10px;
	border-radius: 20px;
	font-size: 15px;
	margin: 10px 0;
	border:none;
	outline: none;
}
a{
	text-decoration: none;
    color: darkgray;
}
hr{
	margin-top: 20px;
	width: 80%;
}
.or{
	background:#fff;
	width: 30px;
	margin:-19px auto 10px;
}
img{
	width: 70px;
	margin-top: -50px;
}
p{
    margin:0;
    padding:0;
    color: white;
}
h1{
	text-align: center;
}
#signupButton:hover{
    cursor: pointer;
    /* background: #ffc107; */
    color: #000;
}
 a:hover{
    color:#ffc107;
}
img{
	margin-left: 38%;
	left: 80px;
}
